<%- include layouts/header.ejs %>
    <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h3 class="display-5 fw-bold">Fuente de los Datos</h3>
          <p class="col-md-8 fs-4">Aca podemos acceder a la fuente o dataset de los datos usados en esta Web, en la cual se tienen las estadisticas de la estatura de los hombres y mujeres de cada pais del mundo</p>
          <a href="https://www.kaggle.com/majyhain/height-of-male-and-female-by-country-2022" class="btn btn-primary btn-lg" target="_parent">Fuente</a>
          
        </div>
      </div>
  </div>
 
  <%- include layouts/footer.ejs %>