<%- include layouts/header.ejs %>
    <div class="container">
    
  
    <h2><%= title %></h2>
    
  <img src="https://cdn2.hubspot.net/hubfs/5809316/estatura-desarrollo-enfermedades.jpg" class="rounded mx-auto d-block" >
  <h1>Bienvenidos</h1>
</div>
 <%- include layouts/footer.ejs %>